/* Base Page Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Or any color you prefer */
}

header {
    background-color: #333; /* Dark background for the header */
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Navigation Styles */
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Section Styles */
.main-image, #about, #work-experience {
    padding: 1em;
}

#work-experience {
    max-width: calc(100% - 100px); /* Adjust the width taking into account the padding */
    margin-left: auto;
    margin-right: auto;
}

.job h3 {
    color: #333;
    margin-bottom: 0.5em;
}

.job p {
    font-style: italic;
    color: #666;
}

.job ul {
    list-style-type: square;
}

.job li {
    margin-bottom: 0.5em;
}

/* Contact Container Styles */
.contact-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-top: -60px; /* Adjust if your header height is different */
}

.contact-container h1, .contact-container p {
    margin-bottom: 0.5em;
}

/* Responsive Design Adjustments */
@media (min-width: 768px) {
    .content-flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-image, #about {
        flex: 1; /* Each child will take up an equal amount of space */
    }

    .main-image img {
        max-width: 70%;
        height: auto;
        border-radius: 50%;
    }

    #about {
        text-align: left;
    }
}

@media (max-width: 767px) {
    .content-flex {
        display: block;
    }

    .main-image {
        display: flex;
        justify-content: center;
    }

    .main-image img {
        max-width: 40%; /* Adjust size as needed for smaller screens */
        height: auto;
        border-radius: 50%;
        margin-bottom: 1em; /* Add space below the image */
    }

    #about {
        text-align: center;
    }
}
